@font-face {
  font-family: light;
  src: url("./assets/fonts/JosefinSans-Light.woff");
}


@font-face {
   font-family: regular;
   src: url("./assets/fonts/JosefinSans.woff");
 }

:root{
  --white-400 : hsl(0, 0%, 100%);
  --dark-400  : hsl(0, 0%, 12%);
  --red-400 : rgb(255, 71, 71);

  /* font */
  --font-300 : .9rem;
  --font-400 : 1rem;
  --font-500: 1.2rem;
}

*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

body{
   font-family: regular;
   font-size: 1rem;
   line-height: 1.3;
}

.contain{
  width: min(100% - 40px, 80rem);
  margin-inline: auto;
}

.text-up{
  text-transform: uppercase;
}

/* color section */

.text-white{
  color: var(--white-400);
}
.bg-red{
  background-color: var(--red-400);
}

/* flex section */
.flex {
  display: flex;
  gap: 5px;
}

.f-gap-10 {
  gap: 10px;
}

.f-gap-20 {
  gap: 20px;
}

.flex-ac{
  place-items: center;
}
.flex-jc{
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 34rem;
  border: 1px solid #e1e1e18a;
  background: #ffffff5e;
  backdrop-filter: blur(10px);
  margin: 0 auto;
}


/* Header Section */
.header{
  padding: 1rem;
}

.header h1{
  font-size: var(--font-400);
}

.header img{
  width: 1.3rem;
  aspect-ratio: 1/1;
}

/* journal entry css */
.journal-entry {
	width: min(100%, 40rem);
	margin: 1rem auto;
	background: #ffffff82;
	padding: 1.5rem 0px;
	backdrop-filter: blur(20px);
	box-shadow: 0 4px 11px #e3e3e3;
}

.journal-image{
  width : 7.8rem;
  height: 10.5rem;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
}

.journal-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.artical-info-txt > span,
.artical-info-txt > a{
  font-size: var(--font-300);
}
